@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css';
@import 'tailwindcss/utilities.css';
@plugin "daisyui";


.config-p {
  margin: 1em 0;
}

.dashboard__card-list a {
  border: 0;
  background-color: transparent;
}

